.footerLink {
  color: #000;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background: #f5f5f5;
  border: 1px solid transparent;
}

.footerLink:hover {
  background: rgba(220, 236, 242, 1);
  border: 1px solid #009de0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: var(--main-color);
}

.footerImg {
  width: 30px;
}

.iframe {
  width: 100%;
  border: none;
}
