::-webkit-scrollbar {
  display: none;
}

.RequestInfoContainer {
  width: 100%;
}

.contaier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(245, 245, 245, 0.6);
  backdrop-filter: blur(10px);
  position: absolute;
  width: 580px;
  max-height: 713px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 10px 0px;
}

.contentHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    width: 80%;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-align: start;
  }

  span {
    font-weight: 500;
    font-size: 28px;
  }
}

.boxContainer {
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 80%;
  text-align: center;
}

.form {
  label {
    color: #fff;
  }

  input::placeholder {
    color: #000 !important;
  }

  .input {
    height: 40px;
    color: #000;
    background: #fff !important;
    border-color: rgb(21 21 21 / 18%);
    border-radius: 10px;
    text-align: start;
  }
}

:global .ant-select-selection-placeholder {
  color: #000 !important;
}

.textArea {
  border-radius: 10px;
  background: #fff !important;
  border-color: #fff;
}

.textArea::placeholder {
  color: #000 !important;
}

.submitBtnContainer {
  padding-top: 10px;
}

.aTags {
  color: #009de0;
}

.aTags:hover {
  color: #4096ff;
}

.submitBtn {
  width: 100%;
  border-radius: 80px;
  background: #009de0;
}

.cancelBtn {
  width: 100%;
  border-radius: 80px;
  background: #f1f1f1;
  border-color: none;
  color: #000;
}

.cancelBtn:hover {
  background: #a1a1a1 !important;
  border-color: transparent !important;
  color: #000 !important;
}

.singleFormItems {
  width: 96%;
}

.doubleFormItems {
  display: inline-block;
  width: 48%;
  padding-bottom: 15px;
  margin: 0 4px;
}

@media only screen and (max-width: 767px) {
  .RequestInfoContainer {
    height: 100%;
  }

  .contaier {
    width: 95%;
    height: 70%;
    top: 61%;
  }

  .doubleFormItems {
    width: 99%;
  }
}
